.join-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.join-container {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 786px) {
  .join-container {
    width: auto;
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 5rem;
    padding: 0 5rem;
  }

  .join-container::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}
